$accent-color: #1c62cd;
$dark: #2f3035;
$light: #ffffff;
$light-gray: #c4c4c4;
$range-color: #e0e0e0;
$base: #f0f0f4;

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap");

@import "fonts";

$main-font: "SFProDisplay", sans-serif;
$accent-font: "Barlow", sans-serif;
