@import "../vars";

.nav {
  display: flex;
  justify-content: space-between;

  &-link {
    display: block;
    padding: 7px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $dark;
    position: relative;
    transition: 0.3s;
  }
}

.navbar {
  width: 440px;
}

.nav-icon + .nav-icon {
  margin-left: 10px;
}
